a{
    text-decoration: none;
    color: darkolivegreen;
}

.div--carro{
    width: 100vw;
    height: 700px;
    background-color: #CBDDB5;
    margin-top: 2px;
}
.beneficios{
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
.verao{
    width: 100vw;
    background-color: #CBDDB5;
    text-align: center;
    padding-bottom: 25px;
}
.novo{
    background-color: white ;
    width: 100vw;
    text-align: center;
}
section{
    width: 100vw;
    height: 350px;
    background-color: white;
    text-align: center;
}
h1{
    font-family: 'Outfit', sans-serif;
    font-family: 'Righteous', cursive;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
p{
    font-size: 20px;
}
.fa-facebook, .fa-instagram{
    font-size: 50px;
    --fa-animation-duration: 3s;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.por{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.duas{
    width: 600px;
    height: 600px;

}
.i1{
    grid-row: 1/ span 4; 
}
.i2{
  grid-column: 2/ span 2;
  grid-row: span 2;
}
.i3{
   grid-column: 4/span 7; 
   grid-row: 1/ span 2;
}
.i4{
   grid-column: 2/span 1; 
}
.i6{
   grid-column: 2/ span 1;
}
.i7{
   grid-column: 3/ span 1;
}
.i8{
   grid-column: 4/ span 7;
   grid-row: 3/ span 2;
  
}
.imagens{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid black;
}
.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    height: 500px;
    gap: 20px;
}
.modelo{
    width: 100vw;
    height: 800px;
    background-color: #CBDDB5;
    text-align: center;
 
}
.image{
    width: 300px;
    height: 300px;
}
h2{
    font-size: 30px;
}

